body {
  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: #ffffff;
  background-color: #849d8f;

}
body input {
  color: #000000;
}
body textarea {
  color: #000000;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-logo {
  position: relative;
  left: -7px;

  float: left;
  width: 160px;
  padding-top: 10px;
}
.main-navigation {
  float: left;
  width: 650px;
}
.inner-page .main-logo {
  float: left;
  width: 153px;
  margin-right: 9px;
  padding-top: 10px;
}

.active {
  background: #d07058;
  color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
}

.main-navigation-items .active {
  border: none;
}
.main-navigation-item {
    margin: 0;
  padding: 23px 0px;

  font-size: 0;
  list-style: none;
}

.main-navigation-item-list {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-right: 0px;
  padding-bottom: 5px;

  font-size: 16px;
}

.main-navigation-item-list > a {
  position: relative;

  display: block;
  padding: 7px 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  color: #ffffff;
  text-decoration: none;
}

.main-navigation-item-list > a::before {
  position: absolute;
  content: "";
  top: 25px;
  left: 15px;
  right: 15px;

  display: block;
  height: 1px;

  background: rgba(255,255,255,0.3);
}

.main-navigation-item-list:hover > a {
  background: #f8f7f4;
  color: #333333;
  border-radius: 50px;
  text-decoration: none;
}

.main-navigation-item-list:hover > a::before {
  display: none;
}

.main-navigation-item-list > a:active {
  background: #ededed;
  color: #333;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-navigation-item-list:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  top: 36px;
  left: -5px;
  z-index: 100;

  display: none;
  width: 145px;
  padding: 0;
  margin: 0;

  box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
  list-style: none;
}

.sub-menu-new {
  border-top-left-radius: 5px;;
  border-top-right-radius: 5px;
}

.sub-menu-melorin {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu a {
  display: block;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 7px;

  font-size: 14px;
  line-height: 16px;

  color: #323232;
  background: #f8f7f4;
  text-decoration: none;
}

.sub-menu a:hover {
  background: #fbded7;
  color: #323232;
}

.sub-menu a:active {
  background: #f6b5a5;
  color: #ffffff;
}

.sub-menu .sub-menu-new {
  position: relative;

  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.sub-menu .sub-menu-new::after {
  position: absolute;
  content: "";
  top: 40px;
  left: 8px;
  right: 8px;

  height: 1px;
  background: #d1d0ce;
}

.sub-menu .sub-menu-melorin {
  padding-bottom: 15px;
}


.inner-page .active::before {
  display: none;
}
.inner-page main {
  border-bottom: 1px solid #a9bbb1;
}
.main-navigation-items> li:hover> a {
  background: #f8f7f4;
  color: #333333;
  border-radius: 50px;
  text-decoration: none;
}
.main-navigation-items> li:hover> a::before {
  display: none;
}
.main-navigation-items> li> a:active {
  background: #ededed;
  color: #333333;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: inset 0 2px 1px 0 #696969;
}
.main-navigation-items li:hover a~ .main-navigation-inside-menu {
  display: block;
}
.main-navigation-inside-menu {
  position: absolute;
  top: 36px;
  left: -5px;
  z-index: 100;

  display: none;
  width: 145px;
  padding: 0;
  margin: 0;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  list-style: none;
}
.main-navigation-inside-menu li:first-child a {
  border-top-left-radius: 5px;
  ;
  border-top-right-radius: 5px;
}
.main-navigation-inside-menu li:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.main-navigation-inside-menu {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.main-navigation-inside-menu a {
  display: block;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 7px;

  font-size: 14px;
  line-height: 16px;

  color: #323232;
  background: #f8f7f4;
  text-decoration: none;
}
.main-navigation-inside-menu a:hover {
  background: #fbded7;
  color: #323232;
}
.main-navigation-inside-menu a:active {
  background: #f6b5a5;
  color: #fff;
}
.main-navigation-inside-menu li:first-child a {
  position: relative;

  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.main-navigation-inside-menu li:first-child a:after {
  position: absolute;
  content: "";
  top: 40px;
  left: 8px;
  right: 8px;

  height: 1px;
  background: #d1d0ce;
}
.main-navigation-inside-menu li:last-child a {
  padding-bottom: 15px;
}

/*User block start */

.user {
  float: right;
  max-width: 267px;
  margin-top: 23px;

  font-size: 0;
}
.search-link {
  display: block;
  width: 32px;
  height: 32px;

  text-indent: -1000px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.search-link::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;

  width: 17px;
  height: 17px;

  background-image: url("../img/sprite.png");
  background-position: -171px -134px;
}
.search-link:hover::before {
  background-position: -144px -134px;
}
.search-block {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-right: 9px;
  padding-bottom: 5px;

  font-size: 16px;
}
.search-block form {
  position: absolute;
  top: 37px;
  left: -308px;
  z-index: 100;

  display: none;
  width: 310px;
  padding: 20px 15px;

  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.search-block:hover .search-link~ form {
  display: block;
}
.search-block form input[type="search"] {
  width: 100%;
  height: 42px;
  padding: 8px 13px;
  box-sizing: border-box;

  border: 1px solid #d3d3d2;
  border-radius: 3px;
}
.search-block form input[type="search"]:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}
.search-block form input[type="search"]:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}
.user-login-block {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 92px;
  margin-right: 12px;
  padding-bottom: 5px;

  font-size: 16px;

}
.user-login-link::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 18px;

  width: 20px;
  height: 19px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -142px -35px;
}
.user-login-link:hover::before {
  background-position: -163px -64px;
}
.user-login-link {
  display: block;
  padding: 8px 15px;
  padding-left: 45px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  color: #fff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}
.user-login-link:hover {
  background: #f8f7f4;
  color: #323232;
}
.user-login-block form {
  position: absolute;
  top: 37px;
  left: -184px;
  z-index: 9;

  display: none;
  width: 240px;
  padding: 18px 20px;

  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.user-login-block:hover .user-login-link~ form {
  display: block;
}
.user-login-block form input[type="email"], .user-login-block form input[type="password"] {
  box-sizing: border-box;

  width: 241px;
  height: 44px;
  margin-bottom: 20px;
  padding: 10px 15px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.user-login-block form input[type="email"]:hover, .user-login-block form input[type="password"]:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}
.user-login-block form input[type="email"]:focus, .user-login-block form input[type="password"]:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}
.user-login-block .btn {
  margin-right: 18px;
  padding: 11px 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 500;

  border-radius: 23px;
  color: #ffffff;
  background: #e95038;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border: none;
}
.form-link {
  float: right;
  width: 120px;
}
.user-login-block form a {
  display: block;
  vertical-align: top;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  color: #323232;
}
.user-box {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 118px;
  margin-right: 0;
  padding-bottom: 5px;

  font-size: 14px;
}
.user-box-link {
  display: block;
  padding: 8px 0;
  padding-left: 45px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  text-decoration: none;
}
.user-box-link::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 20px;

  width: 21px;
  height: 20px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -5px -5px;
}
.user-box-link:hover {
  color: #323232;
  background: #f7f6f3;
}
.user-box-link:hover::before {
  width: 21px;
  height: 20px;

  background-position: -36px -5px;
}
.inner-page .user-box-link {
  color: #323232;
  background: #f7f6f3;
}
.inner-page .user-box-link::before {
  left: 15px;

  background-position: -67px -5px;
}
.inner-page .user-box:hover .user-box-table {
  display: table;
}
.user-box-table {
  position: absolute;
  top: 36px;
  right: -30px;
  z-index: 10;

  display: none;
  width: 540px;
  padding: 15px;
  padding-bottom: 17px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  background: #f8f7f4;
  color: #323232;
  border-radius: 3px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-collapse: separate;
}
.user-box-table a {
  text-decoration: none;
}
.user-box-table .table-a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  text-decoration: none;
  color: #323232;
}
.user-box-table td {
  max-width: 187px;
  padding-right: 4px;
  padding-bottom: 16px;
}
.user-box-table .box-btn .btn {
  float: right;
  padding: 10px 15px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  color: #fff;
}
.user-box-table .box-btn {
  padding: 0;
}
.user-box-table td:last-child {
  padding-right: 0px;
}
.user-box-table .price-end {
  padding-top: 15px;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  border-top: 1px solid #cacac7;
  text-align: right;
}
.user-box-table .price-td {
  color: #cccbca;
}
.user-contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #ffffff;
  text-align: right;
}
.user-contacts span {
  display: block;
  margin-top: 3px;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;

  color: #ffffff;
}

/*user block end */


/*Slider*/

body> input[type="radio"] {
  display: none;
}
.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper:before, .site-wrapper:after {
  content: "";
  visibility: hidden;
}
.site-wrapper:before, .site-wrapper:after {
  background-image: url("../img/ice-cream-third-slide.png");
}
.site-wrapper:after {
  background-image: url("../img/ice-creams-second-slide.png");
}
.content-wrapper {
  width: 1146px;
  margin: 0 auto;
}
.content-wrapper .btn {
  cursor: pointer;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.site-wrapper .btn:hover, .content-wrapper .btn:hover {
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
}
.site-wrapper .btn:active, .content-wrapper .btn:active {
  background-image: linear-gradient(to top, #e0603e, #d84732);
  box-shadow: inset 0 2px 2px 0 #942718;
}
.slider .slide-btn {
  outline: none;
}
.slider {
  position: relative;

  margin-bottom: 42px;
  padding-top: 260px;

  text-align: center;
  color: #ffffff;
}
.slide {
  display: none;
}
.slide-title {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-left: 235px;

  font-size: 60px;
  line-height: 60.35px;
  font-weight: 900;

  color: #ffffff;
}
.slider label:hover {
  background-color: rgba(255, 255, 255, .3);
}
.slide-btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 40px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  border-radius: 50px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  outline: none;
}
.slide-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}
.slide-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 2px;
  z-index: 20;

  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  width: 17px;
  height: 17px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#btn-1:checked~ .site-wrapper #slide1, #btn-2:checked~ .site-wrapper #slide2, #btn-3:checked~ .site-wrapper #slide3 {
  display: block;
}
#btn-1:checked~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-creams-first-slide.png");
}
#btn-2:checked~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-creams-second-slide.png");
}
#btn-3:checked~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-third-slide.png");
}
#btn-1:checked~ .site-wrapper label[for="btn-1"], #btn-2:checked~ .site-wrapper label[for="btn-2"], #btn-3:checked~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

/*end of slider*/

.promo-title {
  margin: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-left {
  float: left;
  margin-right: 26px;

  background: url("../img/content-raspberries.jpg") #910118;
}
.promo-right {
  float: left;

  background: url("../img/content-choco.jpg") #98705d;
}
.promo-left,
.promo-right {
  position: relative;

  width: 522px;
  min-height: 187px;
  padding: 19px 19px 23px;
  border-radius: 15px;

}
.promo .btn {
  float: right;
  display: inline-block;
  vertical-align: top;
  padding: 12px 23px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #ffffff;
  text-decoration: none;
  background: #ef6441;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border-radius: 50px;
}
.promo .btn:hover {
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
}
.promo .btn:active {
  background-image: linear-gradient(to top, #e0603e, #d84732);
  box-shadow: inset 0 2px 2px 0 #942718;
}
.promo-left p, .promo-right p {
  margin: 12px 0 42px;

  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 700;
}
.promo .promo-left, .promo-right {
  margin-bottom: 40px;
}
.ice-creams span {
  color: #ffffff;
}
.ice-creams {
  float: left;
  width: 267px;
  margin-bottom: 38px;
  margin-right: 25px;

  text-align: center;
  border-radius: 5px;
}
.ice-creams:last-child {
  margin-right: 0;
}
.ice-creams:hover, .catalog-items:hover {
  z-index: 100;
}
.ice-creams, .catalog-items {
  position: relative;
}
.ice-creams::after, .catalog-items::after {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  z-index: 1;

  display: none;
  width: 278px;
  height: 405px;

  border-radius: 4px;
  background: #f8f7f4;
  opacity: 0.3;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.ice-creams:hover::after, .catalog-items:hover::after {
  display: block;
}
.ice-cream, .catalog-item {
  position: relative;
  z-index: 2;
}
.ice-cream .btn, .catalog-item .btn {
  position: absolute;
  left: 25px;
  right: 25px;
  top: 320px;
  z-index: 10;

  display: none;
  padding: 10px 13px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #f06341;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border-radius: 50px;
}
.bestseller-item> p, .catalog-item> p {
  margin: 0;
  margin-top: 8px;

  text-align: center;
}
.ice-cream> p> a, .catalog-item> p> a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}


.ice-cream> p> a:hover, .catalog-item> p> a:hover {
  color: #ffbc9e;
}
.ice-creams:hover .btn, .catalog-items:hover .btn {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;

  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
}
.ice-cream> p> a:active, .catalog-item> p> a:active {
  color: #ffbc9e;
}
.ice-creams img, .catalog-content img {
  border-radius: 50%;
}
.ice-cream-price, .catalog-price {
  position: relative;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}
.ice-cream> p, .catalog-item> p {
  margin: 0;
  margin-top: 8px;

  text-align: center;
}
.ice-cream:hover .btn, .catalog-items:hover .btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;

  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
}
.ice-cream .btn:hover, .catalog-items .btn:hover {
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
}
.ice-cream .btn:active, .catalog-items.btn:active {
  background-image: linear-gradient(to top, #e0603e, #d84732);
  box-shadow: inset 0 2px 2px 0 #942718;
}
.ice-cream::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 0px;
  z-index: 101;

  width: 61px;
  height: 61px;

  background: url("../img/bestseller.png") no-repeat;
}
.price {
  position: absolute;
  bottom: 14px;
  left: 3px;
}
.price span:first-child::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 80px;

  width: 31px;
  height: 36px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -211px -88px;
}
.price span:first-child {
  position: relative;

  padding-right: 21px;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.price span:last-child {
  padding-right: 0;

  font-size: 30px;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.ice-cream, .catalog-item {
  position: relative;
  z-index: 2;
}
.content-description {
  margin-bottom: 40px;
  padding-top: 2px;
  padding-left: 20px;
  padding-bottom: 0;

  background: url("../img/wafer-bg.jpg") repeat #e4d2ac;
  color: #000000;
  border-radius: 15px;
}
.content-description-left {
  float: left;
  width: 551px;
}
.content-description-right {
  float: right;
  width: 470px;
  padding-right: 25px;
}

.content-description p {
  font-size: 16px;
  line-height: 22px;

  color: #323232;
}
.content-description-left .left-1::before {
  position: absolute;
  content: "";
  left: 8px;
  top: 0;

  width: 47px;
  height: 47px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -199px -5px;
}
.content-description-left .left-2::before {
  position: absolute;
  content: "";
  left: 8px;
  top: 88px;

  width: 47px;
  height: 47px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -46px -105px;
}
.content-description-left, .content-description-right {
  position: relative;
  left: -7px;
  top: -10px;
}
.content-description-left p {
  padding-left: 63px;
}
.content-description-right .right-1::before {
  position: absolute;
  content: "";
  left: -56px;
  top: 0;

  width: 47px;
  height: 47px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -65px -35px;
}
.content-description-right .right-2::before {
  position: absolute;
  content: "";
  left: -58px;
  top: 89px;

  width: 47px;
  height: 47px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -164px;
}
.content-description .content-description-h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  color: #323232;
}
.blog {
  margin-bottom: 40px;
}
.blog-news {
  float: left;
  width: 520px;
  padding: 25px 20px 32px;

  border-radius: 15px;
  background: url("../img/strawberry-bg.jpg") no-repeat #ffffff;
}
.blog-news-title {
  margin: 0 -3px 2px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  color: #323232;
}
.blog-news-text {
  margin: 0;
  margin-bottom: 48px;
}
.blog-news-text a {
  display: block;
  width: 295px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  color: #323232;
}
.blog-news-text a:hover {
  color: #ffbc9e;
}
.blog-news-text a:active {
  color: #ffbc9e;
}
.delivery {
  float: right;
  width: 550px;
  padding: 5px;

  border-radius: 15px;
  background: url("../img/email-pattern.jpg") repeat #ffffff;
}
.delivery-content {
  width: 510px;
  padding: 30px 20px  35px;

  border-radius: 15px;
  background: #f8f7f4;
}
.delivery-content p {
  margin: 0;
  margin-bottom: 37px;
  margin-left: 4px;

  line-height: 22px;

  color: #5a5a5a;
}
.delivery-content input[type="email"] {
  box-sizing: border-box;

  width: 368px;
  height: 44px;
  padding: 10px 15px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  border-radius: 3px;
  border: 1px solid #d3d3d2;
  margin-right: 8px;
}
.delivery-content input[type="email"]:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}
.delivery-content input[type="email"]:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}
.delivery-content .btn {
  display: inline-block;
  vertical-align: top;
  padding: 9px 19px;

  font-size: 18px;
  line-height: 24px;

  color: #ffffff;
  text-decoration: none;
  background: #f06441;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border-radius: 50px;
  border: none;
}
.social {
  float: left;
  width: 200px;
  margin-right: 200px;
}
.production {
  float: left;
  width: 340px;
}
.copyright {
  float: right;
  width: 200px;
}
.main-footer {
  margin-top: 98px;
  margin-bottom: 30px;
}
.blog-img {
  margin: 0;
}
.catalog-form fieldset {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 38px;
  padding: 9px 16px 9px 13px;

  border: none;
  background: #a9b9af;
  border-radius: 50px;
}
.catalog-form .catalog-form-select {
  padding: 7px 9px 8px 9px;
}
.catalog-form legend {
  position: absolute;
  top: -21px;
  left: 14px;

  font-size: 14px;
  line-height: 16px;
}
.catalog-form select {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background: transparent;
  color: #ffffff;
  border: none;
  outline: none;
}
.catalog-content {
  margin-bottom: 46px;

  font-size: 0;
}
.catalog-items {
  display: inline-block;
  vertical-align: top;
  width: 267px;
  margin-right: 25px;
  margin-bottom: 35px;
}
.catalog-item {
  font-size: 16px;
}
.catalog-item img {
  border-radius: 50%;
}
.catalog-content .catalog-items:nth-child(4n) {
  margin-right: 0;
}
.catalog-form {
  width: 880px;
  margin-bottom: 2px;

  font-size: 0px;
}
.container-main-title {
  margin: 0;
  margin-top: -12px;
  margin-bottom: 47px;
}
.range-filter {
  position: relative;

  width: 188px;

  font-size: 14px;
  line-height: 16px;
}
.range-filter .scale {
  width: 188px;
  height: 4px;
  margin: 7px auto;

  background: #d1dad3;
}
.range-filter .bar {
  width: 55%;
  margin-left: 23px;
  height: 4px;

  background: #f8f7f4;
}
.range-filter .price-controls {
  position: absolute;
  top: -38px;
  left: 43px;
}
.price-controls input {
  width: 66px;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
}
.range-filter .toggle {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  background: #f8f7f4;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.range-filter .min-toggle:hover {
  top: -9px;
  left: 21px;

  border: 1px solid transparent;
}
.range-filter .max-toggle:hover {
  top: -9px;
  right: 49px;

  border: 1px solid transparent;
}
.min-toggle {
  left: 22px;
}
.max-toggle {
  right: 50px;
}
.range-filter label[for="max-price"] {
  position: relative;
}
.range-filter label[for="max-price"]:before {
  position: absolute;
  content: "";
  top: 7px;
  left: -15px;

  width: 7px;
  height: 1px;

  background: #fff;
}
.catalog-form fieldset {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-bottom: 38px;
  padding: 9px 16px 9px 13px;

  border: none;
  background: #a9b9af;
  border-radius: 50px;
}
.catalog-form .catalog-form-select {
  padding: 7px 9px 8px 9px;
}
.catalog-form legend {
  position: absolute;
  top: -21px;
  left: 14px;

  font-size: 14px;
  line-height: 16px;
}
.catalog-form select {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background: transparent;
  border: none;
  color: #ffffff;
  outline: none;
}
.catalog-form-select:hover {
  background: #ffffff;
  cursor: pointer;
}
.catalog-form-select:hover select {
  color: #323232;
  cursor: pointer;
}
.catalog-form option {
  font-size: 14px;
  line-height: 16px;

  color: #323232;
}
.catalog-form input[type="radio"], .catalog-form input[type="checkbox"] {
  display: none;
}
.fat-content label, .fillers-content label {
  position: relative;

  padding-left: 32px;
  padding-right: 18px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.fat-content label:last-of-type, .fillers-content label:last-of-type {
  padding-right: 0;
}
.fillers-content label {
  padding-right: 21px;
}
.fat-content label::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 3px;

  width: 18px;
  height: 18px;

  border: 1px solid #f8f7f4;
  border-radius: 50%;
  background: transparent;
}
.input-radio:checked+ label::after {
  position: absolute;
  content: "";
  top: 6px;
  left: 8px;

  width: 10px;
  height: 10px;

  background: #f8f7f4;
  border-radius: 50%;
}
.fillers-content label::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 2px;

  width: 18px;
  height: 18px;

  border: 1px solid #fff;
  border-radius: 3px;
  background: transparent;
}
.input-checkbox:checked+ label::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;

  width: 15px;
  height: 14px;

  background-image: url("../img/sprite.png");
  background-position: -128px -5px;
  background-repeat: no-repeat;
}
.fat-content label:hover::before, .fillers-content label:hover::before {
  width: 16px;
  height: 16px;

  border-width: 2px;
}
.inner-page label {
  cursor: pointer;
}
body .btn {
  outline: none;
  border: none;
}
body input {
  outline: none;
  border: none;
}
.catalog-form .catalog-btn {
  display: inline-block;
  vertical-align: top;
  padding: 7px 28px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #ffffff;
  background: #9cb0a4;
  border: 2px solid #fbfcfb;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}
.catalog-form .catalog-btn:hover {
  padding: 9px 30px;

  background: #fbfcfb;
  border: none;
  color: #323232;
}
.catalog-form .catalog-btn:active {
  padding: 9px 30px;

  background: #eaeaea;
  border: none;
  color: #323232;
  box-shadow: inset 0 2px 2px 0 #696969;
}
.pagination {
  float: right;
  width: 267px;
  margin-bottom: 30px;

  font-size: 0;

  text-align: right;
}
.pagination .active {
  background: #fff;
  color: #323232;
}
.pagination .disabled {
  opacity: 0.3;
}
.pagination a {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 27px;
  padding-left: 2px;

  font-size: 16px;
  font-weight: 500;
  line-height: 27px;

  text-align: center;
  background: 0 0;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
}
.pagination a:hover {
  background-color: #9db1a5;
  color: #ffffff;
}
.pagination a:active {
  background: #ffffff;
  color: #323232;
}
.pagination .prev, .pagination .next {
  position: relative;
}
.pagination .prev::before {
  position: absolute;
  content: "";
  left: 6px;
  top: 6px;

  background-image: url("../img/sprite.png");
}
.pagination .next::before {
  position: absolute;
  content: "";
  top: 7px;
  right: 1px;

  background-image: url("../img/sprite.png");
}
.pagination .prev, .pagination .next {
  font-size: 0;
}
.pagination .prev::before {
  width: 8px;
  height: 14px;

  background-position: -231px -62px;
}
.pagination .next::before {
  width: 8px;
  height: 14px;

  background-position: -193px -62px;
}
.pagination .prev:hover, .pagination .next:hover, .pagination .prev:active, .pagination .next:active {
  background-color: transparent;
}
.ice-cream img {
  border-radius: 50%;
  background-color: #ffffff;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 31px;
  margin-right: 10px;

  font-size: 0;

  border: 3px solid #c2cec7;
  border-radius: 50%;
  background: url("../img/sprite.png") no-repeat;
  background-position: -63px -164px;
  opacity: 0.8;
}
.social-btn:hover {
  opacity: 1;
}
.social-btn:active {
  box-shadow: inset 0 2px 1px 0 #888;
}
.social-icon-insta {
  background-position: -103px -105px;
}
.social-icon-fb {
  background-position: -122px -64px;
}
.social-icon-vk {
  background-position: -103px -164px;
}
.production {
  position: relative;

  float: left;
  width: 380px;
  margin: 0 auto;
  padding: 0;
  padding-left: 22px;

  font-size: 0;

  text-align: left;
}
.production-list {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 3px;
}
.production::before {
  position: absolute;
  content: "";
  top: 3px;
  left: -1px;

  width: 15px;
  height: 13px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -172px -35px;
}
.production a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}
.production-list:first-child a {
  font-weight: 700;
}
.production li:nth-child(3) {
  margin-right: 43px;
}
.copyright {
  position: relative;

  float: right;
  width: 268px;
  margin-top: 7px;

  text-align: right;
}
.copyright-logo {
  position: absolute;
  top: -22px;
  left: 79px;

  width: 108px;
  height: 37px;

  background: url("../img/logo-htmlacademy.png") no-repeat;
}
.copyright> p {
  margin-top: 20px;
  margin-right: 3px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  color: #ffffff;
}
.copyright-text a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}
.copyright-text a:hover {
  color: #ffbc9e;
  border: none;
}
.copyright-text a:active {
  color: #ffbc9e;
}
.breadcrumbs {
  float: left;
  margin: 0;
  margin-top: 16px;
  padding: 0;

  font-size: 0;

  list-style: none;
}
.breadcrumbs li {
  position: relative;

  display: inline-block;
  vertical-align: top;
  padding-right: 20px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 400;
}
.breadcrumbs li::before {
  position: absolute;
  content: "";
  top: 5px;
  right: 5px;

  width: 6px;
  height: 6px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -183px -5px;
}
.breadcrumbs li:last-child::before {
  display: none;
}
.breadcrumbs-list a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #aebeb5;
}
.breadcrumbs-list a:hover, .breadcrumbs-list a:active {
  color: #ffbc9e;
}
.map {
  position: relative;
}
.map-frame {
  position: absolute;
  left: -30px;
  z-index: 5;

  min-width: 1200px;
  height: 430px;
}
.contacts {
  position: relative;
  z-index: 6;

  width: 255px;
  float: right;
  margin-top: 59px;
  padding: 30px 23px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  border-radius: 15px;
  background: #ffffff;
  color: #323232;
}
.contacts p {
  margin: 0;
  margin-bottom: 18px;
}
.contacts p:nth-child(2) {
  line-height: 24px;
  margin-bottom: 24px;
}
.contacts span {
  display: block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #000000;
}
.contacts .btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 30px 10px  28px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  border: none;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
  background: #ee5c3e;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
}
.feedback {
  position: fixed;
  top: 25%;
  left: 40%;
  z-index: 100;

  display: none;
  width: 427px;
  padding: 16px 25px 25px 25px;

  background: #f8f7f4;
  border-radius: 7px;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    -o-transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.feedback-show {
  display: block;

  -webkit-animation: bounce 0.6s;
  -moz-animation: bounce 0.6s;
  -ms-animation: bounce 0.6s;
  -o-animation: bounce 0.6s;
  animation: bounce 0.6s;
}
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.modal-error {
  -webkit-animation: shake 0.6s;
  -moz-animation: shake 0.6s;
  -ms-animation: shake 0.6s;
  -o-animation: shake 0.6s;
  animation: shake 0.6s;
}
.feedback-title {
  position: relative;

  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;

  color: #323232;
}
.feedback-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 100;

  width: 20px;
  height: 20px;

  font-size: 0;

  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.feedback input[type="text"], .feedback input[type="email"] {
  box-sizing: border-box;

  display: block;
  width: 265px;
  height: 44px;
  margin-bottom: 20px;
  padding: 10px 12px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;

  border-radius: 3px;
  border: 1px solid #d3d3d2;
}
.feedback input[type="text"]:hover, .feedback input[type="email"]:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}
.feedback input[type="text"]:focus, .feedback input[type="email"]:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}
.feedback textarea {
  box-sizing: border-box;

  width: 100%;
  height: 154px;
  padding: 7px 12px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 24px;

  border-radius: 3px;
  border: 1px solid #d3d3d2;
  outline: none;

  resize: none;
}
textarea:hover {
  border-radius: 3px;
  border: 2px solid #c7c6c5;
}
textarea:focus {
  border-radius: 3px;
  border: 2px solid #8fbdec;
}
.feedback .btn {
  float: right;
  display: block;
  vertical-align: top;
  padding: 10px 24px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #ffffff;
  text-decoration: none;
  border: none;
  background: #ef6441;
  background-image: linear-gradient(to bottom, #f26843, #e34e3a);
  border-radius: 50px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
}
.modal-overlay-show {
  display: block;
}
.inner-footer {
  margin-top: 36px;
  margin-bottom: 30px;
}
.active {
  background: #d07058;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
}
body a:hover {
  color: #ffbc9e;
}
.inner-page {
  background: linear-gradient(to top, #849d8f, #9bafa4);
}
.inner-main .main-title {
  margin: -12px 0 47px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}
